.guide {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 125px auto 0;
}

.guide__title {
  font-size: 28px;
  font-weight: 500;
  color: #000;
  margin-bottom: 38px;
}
