.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 52px auto 72px;
  max-width: 1350px;
  max-height: 820px;
  width: 100%;
  height: 100%;
  background-color: #efefef;
}
