.button {
<<<<<<< HEAD:src/components/Button/style.css
  display: inline-block;
  width: 238px;
  margin: 0 auto;
=======
>>>>>>> a5d5739828be0ffa56915a693c0164150abc3b69:src/components/Button/Button.css
  font-family: Roboto, sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border-color: transparent;
  padding: 10px 40px;
  color: #fff;
  box-shadow: 0 2px 4px rgb(116 187 253 / 30%);
  background-color: #74bbfd;
}

.button:disabled {
  cursor: pointer;
  background-color: #bdbdbd;
}

.button:active,
.button:hover {
  box-shadow: 0 2px 4px rgb(116 187 253 / 30%);
  background-color: #49a7ff;
}
