.form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #efefef;
}

.form-page__credential {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  max-height: 900px;
  background: #fff;
}

.form-page__info {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}

.form-page__error {
  color: #f00;
  font-size: 30px;
}

.form-page__logo {
  margin: 105px 41.2% 30px;
}

.form-page__link {
  font-weight: 700;
  color: #000;
}

.form {
  width: 70%;
  margin: 0 auto;
}

.form__button {
  margin: 64px 41% 70px;
}

.ant-form-item-label > label {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}

.ant-input {
  font-size: 28px;
}

.ant-input-suffix {
  font-size: 28px;
}

.ant-form-item-control-input-content > .ant-input,
.ant-form-item-control-input-content > .ant-input-affix-wrapper {
  height: 80px;
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 15px;
}

.ant-form-item-control-input-content > .ant-input:focus,
.ant-form-item-control-input-content > .ant-input-affix-wrapper:focus {
  border-color: #000;
}
