.question {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  margin: 214px 150px 132px;
}

.question__body {
  width: 700px;
  grid-column: 1 / 3;
}

.question__title {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  color: #000;
  margin-bottom: 26px;
}

.question__text {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}

.questions__answers {
  place-self: center;
}

.question__answer {
  font-size: 28px;
  font-weight: 400;
  color: #000;
  margin-bottom: 25px;
}

.question__answer_correct {
  color: #04c100;
}

.question__answer_incorrect {
  color: #af0000;
}

.question__answer span.ant-radio + * {
  font-size: 24px;
  line-height: 32px;
}

.question__send-button {
  grid-column: 2 / 3;
  place-self: center;
}
